<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csqf.personnelmanagementsys.mapper.ILeaveDao">

    <sql id="selectAll">
        select * from t_user_leave
    </sql>

    <resultMap id="leaveMap" type="leave">
        <id column="pk_lid" property="lid" />
        <association column="proposerid" property="proposer" select="com.csqf.personnelmanagementsys.mapper.IUserDao.getUserByPKId" />
        <association column="verifierid" property="verifier" select="com.csqf.personnelmanagementsys.mapper.IUserDao.getUserByPKId" />
    </resultMap>

    <select id="getAllLeave" resultMap="leaveMap">
        <include refid="selectAll"/>
    </select>

    <select id="getLeaveByPKId" resultMap="leaveMap">
        <include refid="selectAll"/> where pk_lid = #{lid}
    </select>

</mapper>