<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csqf.personnelmanagementsystem.dao.TEmployeeAttendanceDetailDao">

    <resultMap type="com.csqf.personnelmanagementsystem.entity.TEmployeeAttendanceDetail" id="TEmployeeAttendanceDetailMap">
        <result property="pkAtdid" column="pk_atdid" jdbcType="INTEGER"/>
        <result property="fkSignoutid" column="fk_signoutid" jdbcType="INTEGER"/>
        <result property="fkSigninid" column="fk_signinid" jdbcType="INTEGER"/>
        <result property="isleave" column="isleave" jdbcType="INTEGER"/>
        <result property="fkAtid" column="fk_atid" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TEmployeeAttendanceDetailMap">
        select
          pk_atdid, fk_signoutid, fk_signinid, isleave, fk_atid
        from d_PersonnelManagementSystem.t_employee_attendance_detail
        where pk_atdid = #{pkAtdid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TEmployeeAttendanceDetailMap">
        select
          pk_atdid, fk_signoutid, fk_signinid, isleave, fk_atid
        from d_PersonnelManagementSystem.t_employee_attendance_detail
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TEmployeeAttendanceDetailMap">
        select
          pk_atdid, fk_signoutid, fk_signinid, isleave, fk_atid
        from d_PersonnelManagementSystem.t_employee_attendance_detail
        <where>
            <if test="pkAtdid != null">
                and pk_atdid = #{pkAtdid}
            </if>
            <if test="fkSignoutid != null">
                and fk_signoutid = #{fkSignoutid}
            </if>
            <if test="fkSigninid != null">
                and fk_signinid = #{fkSigninid}
            </if>
            <if test="isleave != null">
                and isleave = #{isleave}
            </if>
            <if test="fkAtid != null">
                and fk_atid = #{fkAtid}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pkAtdid" useGeneratedKeys="true">
        insert into d_PersonnelManagementSystem.t_employee_attendance_detail(fk_signoutid, fk_signinid, isleave, fk_atid)
        values (#{fkSignoutid}, #{fkSigninid}, #{isleave}, #{fkAtid})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update d_PersonnelManagementSystem.t_employee_attendance_detail
        <set>
            <if test="fkSignoutid != null">
                fk_signoutid = #{fkSignoutid},
            </if>
            <if test="fkSigninid != null">
                fk_signinid = #{fkSigninid},
            </if>
            <if test="isleave != null">
                isleave = #{isleave},
            </if>
            <if test="fkAtid != null">
                fk_atid = #{fkAtid},
            </if>
        </set>
        where pk_atdid = #{pkAtdid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from d_PersonnelManagementSystem.t_employee_attendance_detail where pk_atdid = #{pkAtdid}
    </delete>

</mapper>