<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csqf.personnelmanagementsystem.dao.TEmployeeArchivesDao">

    <resultMap type="com.csqf.personnelmanagementsystem.entity.TEmployeeArchives" id="TEmployeeArchivesMap">
        <result property="pkAid" column="pk_aid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="idcard" column="idcard" jdbcType="VARCHAR"/>
        <result property="nativePlace" column="native place" jdbcType="VARCHAR"/>
        <result property="politicsStatus" column="politics status" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="INTEGER"/>
        <result property="email" column="eMail" jdbcType="VARCHAR"/>
        <result property="education" column="education" jdbcType="VARCHAR"/>
        <result property="university" column="university" jdbcType="VARCHAR"/>
        <result property="major" column="major" jdbcType="VARCHAR"/>
        <result property="linkmanname" column="linkmanname" jdbcType="VARCHAR"/>
        <result property="linkmantel" column="linkmantel" jdbcType="INTEGER"/>
        <result property="linkmanrelation" column="linkmanRelation" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TEmployeeArchivesMap">
        select
          pk_aid, name, age, sex, img, idcard, native place, politics status, tel, eMail, education, university, major, linkmanname, linkmantel, linkmanRelation
        from d_PersonnelManagementSystem.t_employee_archives
        where pk_aid = #{pkAid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TEmployeeArchivesMap">
        select
          pk_aid, name, age, sex, img, idcard, native place, politics status, tel, eMail, education, university, major, linkmanname, linkmantel, linkmanRelation
        from d_PersonnelManagementSystem.t_employee_archives
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TEmployeeArchivesMap">
        select
          pk_aid, name, age, sex, img, idcard, native place, politics status, tel, eMail, education, university, major, linkmanname, linkmantel, linkmanRelation
        from d_PersonnelManagementSystem.t_employee_archives
        <where>
            <if test="pkAid != null">
                and pk_aid = #{pkAid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="img != null and img != ''">
                and img = #{img}
            </if>
            <if test="idcard != null and idcard != ''">
                and idcard = #{idcard}
            </if>
            <if test="native place != null and native place != ''">
                and native place = #{native place}
            </if>
            <if test="politics status != null and politics status != ''">
                and politics status = #{politics status}
            </if>
            <if test="tel != null">
                and tel = #{tel}
            </if>
            <if test="email != null and email != ''">
                and eMail = #{email}
            </if>
            <if test="education != null and education != ''">
                and education = #{education}
            </if>
            <if test="university != null and university != ''">
                and university = #{university}
            </if>
            <if test="major != null and major != ''">
                and major = #{major}
            </if>
            <if test="linkmanname != null and linkmanname != ''">
                and linkmanname = #{linkmanname}
            </if>
            <if test="linkmantel != null">
                and linkmantel = #{linkmantel}
            </if>
            <if test="linkmanrelation != null and linkmanrelation != ''">
                and linkmanRelation = #{linkmanrelation}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pkAid" useGeneratedKeys="true">
        insert into d_PersonnelManagementSystem.t_employee_archives(name, age, sex, img, idcard, native place, politics status, tel, eMail, education, university, major, linkmanname, linkmantel, linkmanRelation)
        values (#{name}, #{age}, #{sex}, #{img}, #{idcard}, #{native place}, #{politics status}, #{tel}, #{email}, #{education}, #{university}, #{major}, #{linkmanname}, #{linkmantel}, #{linkmanrelation})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update d_PersonnelManagementSystem.t_employee_archives
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="img != null and img != ''">
                img = #{img},
            </if>
            <if test="idcard != null and idcard != ''">
                idcard = #{idcard},
            </if>
            <if test="native place != null and native place != ''">
                native place = #{native place},
            </if>
            <if test="politics status != null and politics status != ''">
                politics status = #{politics status},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="email != null and email != ''">
                eMail = #{email},
            </if>
            <if test="education != null and education != ''">
                education = #{education},
            </if>
            <if test="university != null and university != ''">
                university = #{university},
            </if>
            <if test="major != null and major != ''">
                major = #{major},
            </if>
            <if test="linkmanname != null and linkmanname != ''">
                linkmanname = #{linkmanname},
            </if>
            <if test="linkmantel != null">
                linkmantel = #{linkmantel},
            </if>
            <if test="linkmanrelation != null and linkmanrelation != ''">
                linkmanRelation = #{linkmanrelation},
            </if>
        </set>
        where pk_aid = #{pkAid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from d_PersonnelManagementSystem.t_employee_archives where pk_aid = #{pkAid}
    </delete>

</mapper>